doctype html
html
	head
		title= title
		link(rel="stylesheet", href="/stylesheets/style.css")
		link(rel="stylesheet", href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css")
	body
		#app

		script(src="/javascripts/app.js")